{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.{yml,yaml}",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
